.card{
    flex: 0 0 31.5%;
    margin-bottom: 30px;
    height: 418px;
    box-shadow: 2px 3px 5px 0px rgba(117, 117, 117, 0.5);
}

.card:not(:nth-child(3n)) {
 margin-right: 2%; /* Apply margin-right except on multiples of 3 */
}

.dark-mode .card{
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.image{
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.button{
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
}
.dark-mode .button{
    background-color: var(--tertiary-color);
}
.button:hover{
    background-color: var(--primary-color);
    color: var(--complementary);
    cursor: default;
}
.dark-mode .button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.button.active{
    background-color: var(--primary-color);
    color: var(--complementary);
}
.dark-mode .button.active{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.card h3{
    font-size: 1.2rem !important;
}

.card button,  .card input{
    width: 2.8rem;
    height: 1.5rem;
    text-align: center;
    font-size: 1.3rem
}
.card button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card button:hover{
    transform: scale(1.3);
}
.card input{
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.dark-mode .card input{
    border-left: 1px solid var(--complementary);
    border-right: 1px solid var(--complementary);
}
.card input:focus{
    outline: 0;
}

.dark-mode .quantity-counter div{
    border-color: var(--complementary);
}

@media (max-width: 800px){
    .card{
        flex: 1 ;
        width: 100%;
    }
    .card:not(:nth-child(3n)) {
        margin-right: 0; /* Apply margin-right except on multiples of 3 */
    }
}