.item-description-card{
    width: 0;
    height: 0;
    background-color: var(--complementary);
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.item-description-card.show{
    width: 55vw;
    height: 75vh;
}
.modal-bg{
    visibility:hidden;
    display: flex;
}
.modal-bg.show{
    visibility: visible;
    display: flex;
}

.cancel-button{
    display: none;
}
.cancel_button.show{
    display: block;
}

.item-description-card .quantity-counter {
    display: flex;
    align-items: center;
}
  
.item-description-card .quantity-counter button {
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
}

  .dark-mode .quantity-counter{
    border-color: var(--complementary);
  }
  .quantity-counter button,  .quantity-counter input{
    width: 2.8rem;
    height: 2rem;
    text-align: center;
    font-size: 1.3rem
  }
  
  .quantity-counter button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quantity-counter button:hover{
    transform: scale(1.3);
  }
  .quantity-counter input{
    border-left: 1px solid var(--complementary);
    border-right: 1px solid var(--complementary);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  .quantity-counter input:focus{
    outline: 0;
  }
  
  .dark-mode .quantity-counter {
    border-color: var(--complementary);
  }

@media (max-width:768px) {
    .item-description-card.show{
        width: 95vw;
        height: unset;
    }
}
