h2{
    font-family: var(--secondary-font);
    font-size: 3rem !important;
    text-align: center;
}

.see-all{
    font-size: 1rem;
    text-align: center;
    text-decoration: underline;
    color: var(--tertiary-color);
}

@media (max-width: 768px) {
    h2{
        font-size: 7rem;
    }
}