@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=My+Soul&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  padding: 0;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */

  --primary-color : #363636;
  --complementary : #fdf8fb;
  --secondary-color: #FFD2D9;
  --tertiary-color: #EC566D;

  /* fonts  */
  --primary-font : "Akaya Telivigala", system-ui;
  --secondary-font: "My Soul", cursive;
  --tertiary-font : "Nunito Sans", sans-serif;
}
img{
  max-width: none;
}
body{
  color: var(--primary-color);
  background-color: var(--complementary);
  font-family: var(--primary-font);
  transition: color 0.1s ease;
  scroll-behavior: smooth;
}

body.dark-mode {
  background-color: var(--primary-color);
  color: var(--complementary); 
  font-family: var(--primary-font);
}

/* Navbar */

.navbar{
  background-color: var(--complementary);
}
.navbar ul li a:hover {
  color: var(--tertiary-color);
 }
 
.navbar ul li a.active {
  color: var(--tertiary-color);
 } 

.dark-mode nav{
  background-color: var(--primary-color);
}

nav>.navlinks-container{
  display: flex;
  align-items: center;
  z-index: 100;
  transition: all 0.3s ease-in;
}

nav>.navlinks-container>ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
}

nav>.navlinks-container{
  width: 35%;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: all 0.3s ease-in;
}

nav>.navlinks-container>ul{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  /* gap: 20px; */
}

nav>.navlinks-container>.close-X{
  font-size: 24px;
  color: var(--primary-color);
  display: none;
  width: 100%;
  justify-content: start;
  padding-left: 30px;
  padding-top: 30px;
  margin-bottom: 50px;
}

.dark-mode nav>.navlinks-container>.close-X{
  color: var(--complementary);
}
.openNav-bars, .openNav-bars>svg{
  display: none;
}

/* Home */
.hero-section{
  height: 95vh;
  background-image: url("./assets/hero-image.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
}
.hero-text{
  font-family: var(--secondary-font);
  color: var(--complementary);
  font-size: 6vw; /* Use viewport width units for responsive text size */
  margin: 0 1rem;
  z-index: 5;
}
.hero-button{
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--complementary);
  padding: 0.4rem 6rem;
  z-index: 10;
  transition: all 0.3s ease;
}
.hero-button:hover{
  background-color: var(--secondary-color);
}


/* Footer */

.footer{
  background-color: var(--primary-color);
  height: 45vh;
  padding: 20px;
  margin-top: 50px;
  border-top: 0.5px solid black;
}

.footer div>h3{
  font-family: var(--secondary-font);
  font-size: 1.5rem;
}

.footer div>a{
  transition: all 0.2s ease;
}

.footer div>a:hover{
  color: var(--tertiary-color);
}

/* Cart Page */

.cart {
  padding: 1rem;
  border-radius: 5px;
}

.cart h2 {
  margin-bottom: 1rem;
}

.cart ul {
  list-style: none;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 100px;
  height: auto;
  margin-right: 1rem;
}

/* .cart-item .item-details {
  flex: 1;
} */
.cart-item .item-details h3{
  font-size: 1.2rem;
}
.cart-item .item-details p {
  font-family: var(--tertiary-font);
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 7px;
}
.cart-item .item-details img{
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.cart-item .quantity-control {
  display: flex;
  align-items: center;
}

.cart-item .quantity-control button {
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 5px;
}

.cart-summary {
  margin-top: 2rem;
  padding-top: 1rem;
}

.cart-summary p {
  margin-bottom: 10px;
}

.remove-button {
  background-color: transparent;
  color: black;
  padding: 3px 15px;
  border: none;
  border: 0.5px solid grey;
  border-radius: 10px;
  cursor: pointer;
}
.dark-mode .remove-button {
  color : var(--complementary)
}
.dark-mode .quantity-control{
  border-color: var(--complementary);
}
.quantity-control button,  .quantity-control input{
  width: 2.8rem;
  height: 2rem;
  text-align: center;
  font-size: 1.3rem
}

.quantity-control button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity-control button:hover{
  transform: scale(1.3);
}
.quantity-control input{
  border-left: 1px solid var(--complementary);
  border-right: 1px solid var(--complementary);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.quantity-control input:focus{
  outline: 0;
}

.dark-mode .quantity-counter {
  border-color: var(--complementary);
}

/* Producct Listing Page */
.productListing{
  padding-top: 2rem;
}
.productListing .options  div{
  width: 7vw;
  height: 7.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 4px;
  background-color: transparent;
}
.productListing .options  div.active{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.productListing .options  div  p{
  font-size: 1rem;
}
.productListing h1{
  font-family: var(--secondary-font);
  font-size: 2rem;
}


/* CheckoutPage */

.checkoutPage input{
  border: 1px solid #D0CDCD;
  background-color: transparent;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-bottom: 40px;
}
.checkoutPage input:focus{
  outline: 0;
}

.checkoutPage button{
  background-color: var(--primary-color);
  color: var(--complementary);
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s;
}

.dark-mode .checkoutPage button{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.checkoutPage button:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.dark-mode .checkoutPage .order-summary{
  background-color: transparent;
}

.checkoutPage .item-summary{
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

.no-scroll{
  overflow: hidden;
}

.modal{
  height: 350px;
  width: 460px;
}
.modal p{
  font-family: "Poppins", sans-serif;
}
@media (max-width: 768px) {
  nav>.navlinks-container{
      position: fixed;
      flex-direction: column;
      background-color: white;
      border: 0.8px solid rgba(84, 84, 84, 0.74);
      width: 70%;
      height: 100vh;
      z-index: 2;
      right: -70%;
      top: 0;
  }
  .dark-mode nav>.navlinks-container{
      background-color: #0e1111;
  }
  nav>.navlinks-container.active{
      top: 0;
      bottom: 0;
      right: 0;
  }
  nav>.navlinks-container>ul{
      flex-direction: column;
      gap: 30px;
  }
  nav>.navlinks-container>.close-X{
      display: flex;
  }
  .hero-text{
    font-size: 14vw;
    text-align: center;
  }
  .hero-button{
    padding: 0.7rem 6rem;
  }
  .hero-button:hover{
    background: var(--primary-color);
    color: var(--complementary);
  }
  .footer{
    height: 70vh;
    padding: 20px;
  }
  .openNav-bars, .openNav-bars>svg{
    display: inline;
  }
  .nav-logo{
    width: 15vw;
    height: 15vw !important;
  }
  .nav-logo img{
    width: 100%;
    height: 100%;
  }
  .productListing .options  div{
    width: unset;
    height: unset;
  }
  .cart-item {
    flex-direction: column;
  }
  .modal{
    height: 350px;
    width: 90%;
  }
}